<ion-view view-title="">
  <ion-content class="signupbg">


  <ion-card>
    <ion-card-content>
    <div class=" Ak-text-center padding-tb-30 margin-tb-30">
     <p class="Ak-color-fff padding-tb-30 signupp">Sign Up</p>
    </div>
    </ion-card-content>
  </ion-card>

  <div class="card no-margin no-padding trpcolor">
  <div class="list padding-lr-30 padding-tb-10"> 
   <label class="item item-input Ak-color-zero padding-tb-10"><i class="icon ion-ios-email-outline Ak-icon"></i>
   <input type="text" placeholder="Email Address:" class="inputtex">
   </label>

   <label class="item item-input Ak-color-zero Ak-customborder padding-tb-10"><i class="icon ion-ios-locked-outline Ak-icon"></i>
   <input type="text" placeholder="Password" class="inputtex"></label>

    <label class="item item-input Ak-color-zero Ak-customborder padding-tb-10"><i class="icon ion-ios-person-outline Ak-icon"></i>
   <input type="text" placeholder="First Name:" class="inputtex"></label>

    <label class="item item-input Ak-color-zero Ak-customborder padding-tb-10"><i class="icon ion-ios-person-outline Ak-icon"></i>
   <input type="text" placeholder="Last Name:" class="inputtex"></label>

    <label class="item item-input Ak-color-zero Ak-customborder padding-tb-10"><i class="icon ion-android-call Ak-icon"></i>
   <input type="text" placeholder="Phone Number" class="inputtex">
   </label>
</div>
</div>
<div class="margin-lr-30 signupbtn margin-tb-30">
<button class="button button-block button-clear signupbtn">Sign Up</button>
</div>
<div class="margin-lr-30 signupbtn margin-tb-10">
<button class="button button-block button-clear signupbtn">Sign In</button>
</div>

  </ion-content>
</ion-view>
