<ion-view cache-view="false" view-title="Change Password">
  <ion-content class="changepwdbg">
    <!-- <div class="logoimgdiv"> <img src="img/Logo.png" class="logoimg" ></div> -->
     <ion-card>
    <ion-card-content>
    
    </ion-card-content>
  </ion-card>
<div class="for_forgoteHeading">
   <p class="Ak-color-fff padding-tb-30 text-center signupp"></p>
    </div>

    <form  ng-submit="changePassword();" id="demo-form" novalidate="novalidate">
    <div class="emailform">
       <div class="list  padding-lr-30 padding-tb-10">
        
    
       <!--  <i class="icon ion-person customicon Ak-icon"></i> -->
     <div class="form-group">
       <div class="form-group forPositionReletive">
        <input type="password" placeholder="Old Password"  class="font1" ng-model="user.oldpassword" required>

          <div class="ForAbsulute">
        <i class="icon ion-locked customicon Ak-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
   </div>
          </div>
        </label>
      

        <div class="form-group">
       <!--  <label class="item item-input textbox1 boxsize margin-tb-10 padding-tb-10 Ak-color-zero no-border"><i class="icon ion-locked customicon Ak-icon"></i> -->
        <div class="form-group forPositionReletive">
      <input type="password" placeholder="New Password" minlength="8" maxlength="20" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,30}$" class="font1" ng-model="user.newpassword" required show-hide-input>
         <div class="ForAbsulute">
      <i class="icon ion-locked customicon Ak-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
   </div>
    
        </div>

        <div class="form-group">
     <!--     <label class="item item-input textbox1 boxsize margin-tb-10 padding-tb-10 Ak-color-zero no-border"><i class="icon ion-locked customicon Ak-icon"></i> -->
      <div class="form-group forPositionReletive">
          <input type="password" placeholder="Confirm Password" minlength="8" maxlength="20" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,30}$" class="font1" ng-model="user.Confirmpassword" required show-hide-input>
             <div class="ForAbsulute">
      <i class="icon ion-locked customicon Ak-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
   </div>
    
        </div>
        
      </div>
    </div>
<div class="margin-lr-30 loginbtn margin-t-30">
    <button class="button button-full loginbtn button-block button-clear loginbtn" type="submit"  > Submit </button></div>
   <div class="margin-lr-30 loginbtn margin-t-30">
   <!--  <button class="button button-full loginbtn forget-pass forget-pass button-block button-clear loginbtn" type="submit" ui-sref="app.home" > Cancel </button>
 -->
      
    </form>

 </div>   
   
      

  
  </div>  </div>
  </ion-content>
</ion-view>
