<ion-view cache-view="false" view-title="">
  <ion-content class="forgotpwdbg">
  <div class="bar bar-header no-border Ak-color-zero">
   <button class="button icon ion-ios-arrow-left button-clear colfff"  type="submit" ui-sref="auth.login"></button>
</div>

    <ion-card>
    <ion-card-content>
    <div class="img_logo_div text-center padding-tb-30">
      <img src="img/logo.png" class="img_logo">
    </div>
    </ion-card-content>
  </ion-card>
    <div class="for_forgoteHeading">
   <p class="Ak-color-fff padding-tb-30 text-center signupp">Forgot Password?</p>
    </div>
        

    <form  ng-submit="forgotSubmit()" novalidate="">
    <div class="emailform">
       <div class="list  padding-lr-30 padding-tb-10">

         <div class="form-group"> 

        <div class="form-group forPositionReletive">
        
        <input type="email" placeholder="Enter your Email Address" name="mailId" class="font1" ng-model="user.mailId" required>
		
                     <div class="ForAbsulute">
        <i class="icon ion-email Ak-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;
     
        </div>
      </div>
    </div>




<div class="margin-lr-30 loginbtn margin-t-30">
   <button class="button button-full loginbtn button-block button-clear loginbtn" type="submit"> Send </button></div>
   
    </form>
   
    
  </div>  </div>
  </ion-content>
</ion-view>
